PlantDetectionAppV2/Workflows/PAV1triggerfromcanvasapp-1258A722-4A04-EC11-94EF-000D3A327C4B.json
{"properties":{"connectionReferences":{},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Initialize_varString_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"varString","type":"string"}]}},"Compose":{"runAfter":{"Initialize_varString_variable":["Succeeded"]},"type":"Compose","inputs":"@rand(0,9)"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Compose":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"randnumber":"@{outputs('Compose')}"},"schema":{"type":"object","properties":{"randnumber":{"title":"randNumber","x-ms-dynamically-added":true,"type":"string"}}}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}