PlantDetectionAppV2/Workflows/PowerAppV2-ComposeRespondtoaPowerApporflow-E09A06EB-1B04-EC11-94EF-000D3A327C4B.json
{"properties":{"connectionReferences":{"shared_office365":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"crfb2_sharedoffice365_0ad13"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"InputText","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"boolean":{"title":"Yes/No","type":"boolean","x-ms-dynamically-added":true,"description":"Please select yes or no","x-ms-content-hint":"BOOLEAN"},"file":{"title":"File Content","type":"object","x-ms-dynamically-added":true,"description":"Please select file or image","x-ms-content-hint":"FILE","properties":{"name":{"type":"string"},"contentBytes":{"type":"string","format":"byte"}}}},"required":["text","boolean"]}}}},"actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@Rand(2,9)"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"finalnumber":"@int(outputs('Compose'))","outputfilecontent":"@{outputs('FileContent')}"},"schema":{"type":"object","properties":{"finalnumber":{"title":"finalNumber","x-ms-dynamically-added":true,"type":"number"},"outputfilecontent":{"title":"OutputFileContent","x-ms-dynamically-added":true,"type":"string","format":"byte"}}}}},"FileContent":{"runAfter":{"Compose":["Succeeded"]},"type":"Compose","inputs":"@triggerBody()?['file']?['contentBytes']"},"Send_an_email_(V2)":{"runAfter":{"FileContent":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"admin@CRM546138.OnMicrosoft.com","emailMessage/Subject":"Test New Email ","emailMessage/Body":"<p>New email<br>\nRand Number: @{outputs('Compose')}<br>\n<br>\n<img src=\"data:image/png;base64,@{binary(outputs('FileContent'))}\" alt=\"@{triggerBody()?['file']?['name']}\" />\n</p>","emailMessage/Attachments":[{"Name":"@triggerBody()?['file']?['name']","ContentBytes":"@triggerBody()?['file']?['contentBytes']"}]},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}